*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

main{
    width: 400vh;
}

header{
    padding-bottom: 10px;
}

.container{
    min-height: 100px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    background-image: url(./imagebanner.jpeg);
    background-size: cover;
    background-position: center;
    align-items: end;
   justify-content: center;
  justify-content: space-between;
}

.input1{
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
    color: rgb(184, 181, 181);
    font-size: 22px;
    opacity: 0.7;
}



